In [1]:
#import all the necessary dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests

### NASA Mars News

In [14]:
# using browser to parse
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [15]:
#URL of page to be scraped
news_url ="https://mars.nasa.gov/news/"
browser.visit(news_url)

In [19]:
#find specific element using the ID
html = browser.html
soup = bs(html, 'html.parser')
results = soup.find(id='main_container')

In [20]:
#extract text elements
news_elements = results.find_all('div', class_ ='list_text')
news_titles = []
paragraphs = []
for elements in news_elements:
    title = elements.find('div', class_ = 'content_title').text
    para = elements.find('div', class_ ='article_teaser_body').text
    #if None in (title, para):
        #continue
    news_titles.append(title)
    paragraphs.append(para)
    #print(news_titles.text.strip())
    #print(paragraphs.text.strip())

#assign the latest title and paragraph to variables
news_title = news_titles[0]
paragraph = paragraphs[0]

#check 
print(news_title)
print('------------')
print(paragraph)

Independent Review Indicates NASA Prepared for Mars Sample Return Campaign
------------
NASA released an independent review report Tuesday indicating the agency is well positioned for its Mars Sample Return campaign to bring pristine samples from Mars to Earth for scientific study.

### JPL Mars Space Images - Featured Image

In [140]:
#url to be scraped 
img_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(img_url)

In [141]:
# #find the url and assign a variable to it
html1 = browser.html
soup1 = bs(html1, 'html.parser')

In [142]:
#img_element = soup.find('div', class_= 'carousel_items')
for element in soup1.select("article"):
    
    image=element['style'].split("url('")[1].split("')")[0]
    featured_image_url = "https://www.jpl.nasa.gov" +image
    print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA16919-1920x1200.jpg

### Mars Facts

In [143]:
#url to be scarped
fact_url = "https://space-facts.com/mars/"

In [146]:
#use panda to read 
tables = pd.read_html(fact_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [147]:
#check the type of the table
type(tables)

list

In [148]:
#slice off the table we want using normal indexing
table = tables[0]
table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [149]:
#rename the column
table.columns=['Description', 'Mars']
table.set_index('Description')

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [150]:
#generate html table 
fact_table = table.to_html()
fact_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [151]:
#clean up the table by removing \n
fact_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Description</th>      <th>Mars</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

### Mars Hemispheres

In [152]:
#urls to be scraped
url_list=["https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced",
          "https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced",
          "https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced",
          "https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced"]

#append dictonary with the img url and title
hemisphere_image_urls = []

#iterate through the url list
for url in url_list:
    
    r = requests.get(url)
    s = bs(r.text, 'html.parser')
    
    #empty dict to store the title and img url
    hemisphere_image_urls_dict = {}
    
    #scrape the title and add to the dict
    title = s.title.text.split('|')[0]
    hemisphere_image_urls_dict['title'] = title
    
    #scrape the img and add to the dict
    img = s.find('img', class_= 'wide-image')
    src= img.get('src')
    hemisphere_image_urls_dict['img_url'] = "https://astrogeology.usgs.gov/" + src
    hemisphere_image_urls.append(hemisphere_image_urls_dict)
    

print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced ', 'img_url': 'https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced ', 'img_url': 'https://astrogeology.usgs.gov//cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced ', 'img_url': 'https://astrogeology.usgs.gov//cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced ', 'img_url': 'https://astrogeology.usgs.gov//cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]